* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(197, 197, 197);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 0 0 10px;
}

.strength {
    font-weight: bold;
    transition: 0.2s;
}
